.table{
    background-color: #f7f7f7;
}

.table td{
    width: 300px;
    text-align: center;
    font-size: 20px;
}

.table td img{
    width: 100%;
}

.table td button{
    padding: 10px 15px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.redbtn{
    background-color: red;
}

.bluebtn{
    background-color: #0071e3;
}
