.btn-more{
    background-color: grey;
    color: white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    border: 0
}

.menu{
    background-color: #555555;
    padding: 10px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
}

.menu a{
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    margin-right: 20px;
}

.text-center{
    text-align: center;
}

.menu .active{
    color:  goldenrod;
}